networks:
  sam-blog:
    name: "sam-blog"
    external: true

services:
  postgres:
    image: postgres:16
    container_name: postgres_db
    env_file: ".env"
    networks:
      - sam-blog
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - postgres:/var/lib/postgresql/data
      - ../db/migrations:/migrations
    restart: unless-stopped
    ports:
      - "5432:5432"
  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    env_file: ".env"
    networks:
      - sam-blog
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD}
    ports:
      - "5050:80"
    depends_on:
      - postgres
    restart: unless-stopped
volumes:
  postgres: